	.inner{
	  width: 1024px;
	  margin: 0 auto;
	  overflow:hidden;
}
body {
	margin: 0;
	padding: 0;
}
#headerNavi {
	margin: 0 auto;
	background-color: #20a4b2;
	height: 28px;
	width: 100%;
}
.headerNavi {
	margin-left: 660px;
	margin-top:6px;
}
.headerNavi li {
	font-family: "ヒラギノ明朝",serif;
	font-size: 10px;
	margin-left: 30px;
	margin-top: 2px;
	float: left;
}
.hn img{
	float: left;
	margin-left: 35px;
	position: relative;
}
a:link {
	text-decoration: none;
}
.headerNavi li a {
	color: #ffffff;
}
#logo{
	margin-left: 67px;
	margin-right:190px;
	margin-top: 12px;
	margin-bottom: 12px;
	float: left;
}
.pankuzu{
	width:1024px;
	float: left;
}
.pankuzu p{
	font-family: "ヒラギノ角ゴ";
	font-size: 10px;
	color:#7d7d7d;
	text-decoration: none;
	margin-left:68px;
}
.room_top {
	width:1024px;
/* 	padding-top:30px;
margin-top:-33px; */
}
.room {
	width:867px;
	height:322px;
	float:left;
/* 	width:1024px; */
	margin:0 auto;
}
.room_smalls img {
	width:154px;
/* 	margin-top:30px; */
	padding-bottom:2px;
	padding-left:3px;
	vertical-align: bottom;

}

#gnavi ul{
	overflow:hidden;
	display: block
	margin-right:10px;
	text-style-type: none;
	font-family: "ヒラギノ明朝",serif;
	font-size: 15px;
	color: #22abba;
/* 	text-decoration:none; */
	line-height:1;
	list-style:none;
	text-align: center;
}
#gnavi li a:hover {
	color: #1a838f;
	text-decoration:none;
}
#gnavi li{
	float:left;
	margin-top:15px;
	margin-right:40px;
}
nav ul li:last-child{
	margin-right: 0;
}
#gnavi a:visited{
	color: #22abba;
}
#gnavi span{
	font-size: 10px;
	color: #22abba;
}
#gnavi li a span:hover {
	color: #1a838f;
	text-decoration:none;
}
/* #reservation {
	background-color: #f7f0e8;
	height: 52px;
	width: 100%;
	margin-top: -6px;
	box-shadow: 1px 1px 1px #CCC;
}
h5 {
	font-family: "ヒラギノ明朝",serif;
	font-size: 15px;
	line-height:1;
	text-align: center;
	float: left;
	margin-left: 67px;
	margin-top: 13px;
	color: #22abba;
}
h5 span {
	font-size: 10px;
	color: #22abba;
}
.button {
	background-color: #22abba;
	width: 120px;
	height: 35px;
	margin-left: 829px;
  position: absolute;
	margin-top:9px;
}
.button a {
	font-family: "ヒラギノ明朝",serif;
	margin-left: 33px;
	margin-top: 6px;
	color: white;
	text-decoration: none;
	position: absolute;
}
.info {
	font-family: "ヒラギノ明朝",serif;
	font-size: 15px;
	color: #7d7d7d;
	margin-left: 40px;
	margin-top: 16px;
	margin-right: 53px;
	float: left;
}
 */
.room_info {
	width:100%;
	text-align:center;
	padding-top:24px;
}
.room_info p {
	width:100%;
	marign:0;
	padding:0;
	font-family: "ヒラギノ明朝",serif;
	font-size:24px;
	color:#7d7d7d;
	line-height:1;
}
.room_info p span{
	width:100%;
/* 	marign:0 auto; */
	font-family: "ヒラギノ明朝",serif;
	font-size:20px;
	color:#7d7d7d;
}
.room_text p {
	font-family: "ヒラギノ角ゴ";
	font-size: 12px;
	color:#7d7d7d;
	line-height:2;
}
.reserve {
	border-radius:5px;
	width:200px;
  height:45px;
	background-color:#22abba;
	margin:30px auto;
	padding-top:0px;
}
.arrow_white {
	float:left;
	padding-left:48px;
	padding-top:9px;
	padding-right:0px;
}
.reserve_text p {
	font-family: "ヒラギノ明朝",serif;
	font-size:16px;
	color:white;
	padding-left:-10px;
	padding-top:7px;
}
.information {
	margin:0 auto;
	width:890px;
}
h3 {
	width:890px;
	font-family: "ヒラギノ明朝",serif;
	font-size: 18px;
	color: #7d7d7d;
	margin: 30px auto 0;
  padding: 11px;
	text-align: center;
	border-top: solid 1px #e1e1e1;
	border-bottom: solid  1px #e1e1e1;
}
h3 span {
	font-family: "ヒラギノ明朝",serif;
	font-size: 12px;
}
/* table {
	border:2px;
	width:890px;
	cellspacing:20px;
	cellpadding:20px;
	border-color: #7d7d7d;
	padding-top:36px;
} */
table{
	margin-top:45px;
	width:910px;	/* margin-left:58px; */
	text-align:left;
	border: 1px solid #eeeeee;
	border-collapse: collapse;
}
/* table, th, td {

	width:890px;
} */
table th {
	width:80px;
	font-family:  "ヒラギノ明朝",serif;
	font-size: 11px;
	color:#7d7d7d;
	padding:11px 0px 11px 20px;
	border: 1px solid #eeeeee;
	background-color:#eeeeee:
}
table td {
	width:620px;
	font-family: "ヒラギノ角ゴ";
	font-size: 12px;
	color:#7d7d7d;
	padding:11px 20px 11px 20px;
	border: 1px solid #eeeeee;
}

.floorPlan {
	margin-top:0 auto;
	width:890px;
	padding-top:20px;
/* 	padding-left:67px; */
	position:relative;
}
.floor_img {
	margin:36px auto 0;
	width:364px;

}
#seeall {
	font-family: "ヒラギノ明朝",serif;
	font-size:10px;
	color:#22abba;
	margin-right: 76px;
	float: right;
	position: relative;
	text-decoration: none;
	background:url(../img/arrow_right.png) left center no-repeat;
	padding-left:15px;
	margin-top:0px;
}

#seeall3 {
	font-family: "ヒラギノ明朝",serif;
	font-size:10px;
	color:#22abba;
	margin-left:965px;
/*   float:left; */
	position: relative;
/* 	text-decoration: none; */
	background:url(../img/arrow_top.png) left center no-repeat;
	padding-left:15px;
	margin-top:25px;
	width:90px;
}
footer {
	width:100%;
	height:400px;
	margin-top:0px;
	float:left;
	background-color:#eeeeee;
	color:#7d7d7d;
}
footer li {
	font-family: "ヒラギノ角ゴ";
	font-size: 11px;
	color:#7d7d7d;
	text-decoration: none;
	line-height:2;
}
.footernav{
	width:1024px;
/* 	height:100px;
 */}
.b_nav {
	margin-top:20px;
	margin-left: 30px;
	width:160px;
	height:230px;
	float:left;
}
.b_nav_last {
	margin-top:20px;
	margin-left: 30px;
	width:160px;
}
.b_nav a:visited {
	color:#7d7d7d;
}
.b_nav li:first-child {
	font-size: 13px;
	color:#7d7d7d;
}
#footer_nav {
	width:100%;
	margin-top:60px;
	text-align:center;
	font-family:"ヒラギノ明朝",serif;
	font-size:12px;
	text-align:center;
}
#logo_btm{
	width:300px;
	margin:40px auto 10px;
}
#footer_info {
  width:400px;
	margin:0px auto 10px;
}
li {
	list-style-type:none;
}
p {
	font-family:"ヒラギノ明朝",serif;
}
