	.inner{
	  width: 1024px;
	  margin: 0 auto;
	  overflow:hidden;
}
body {
	margin: 0;
	padding: 0;
}
#headerNavi {
	margin: 0 auto;
	background-color: #20a4b2;
	height: 28px;
	width: 100%;
}
.headerNavi {
	margin:4px 0 0 640px;
/* 	margin-left: 660px;
margin-top:6px; */
}
.headerNavi li {
	font-family: "ヒラギノ明朝",serif;
	font-size: 10px;
	margin-left: 30px;
	margin-top: 2px;
	float: left;
}
.arrow_header {
	background: url(../img/arrow_header.png) left center no-repeat;
	padding-left:10px;
}
.hn img{
	float: left;
	margin-left: 35px;
	position: relative;
}
a:link {
	text-decoration: none;
}
.headerNavi li a {
	color: #ffffff;
}
#logo{
	margin-left: 67px;
	margin-right:190px;
	margin-top: 12px;
	margin-bottom: 12px;
	float: left;
}
.mainPic{
	width:1024px;
	height:400px;
	background: url(../img/mainvisual.jpg) center top no-repeat;
}
.mainvisual_text {
	width: 483px;
	height: 39px;
	margin: 150px auto 0px;
}
#gnavi ul{
	overflow:hidden;
	display: block
	margin-right:10px;
	text-style-type: none;
	font-family: "ヒラギノ明朝",serif;
	font-size: 15px;
	color: #22abba;
/* 	text-decoration:none; */
	line-height:1;
	list-style:none;
	text-align: center;
}
#gnavi li a:hover {
	color: #1a838f;
	text-decoration:none;
}
#gnavi li{
	float:left;
	margin-top:15px;
	margin-right:40px;
}
nav ul li:last-child{
	margin-right: 0;
}
#gnavi a:visited{
	color: #22abba;
}
#gnavi span{
	font-size: 10px;
	color: #22abba;
}
#gnavi li a span:hover {
	color: #1a838f;
	text-decoration:none;
}
#reservation {
	background-color: #f7f0e8;
	height: 52px;
	width: 100%;
	margin-top: -6px;
	box-shadow: 1px 1px 1px #CCC;
}
h5 {
	font-family: "ヒラギノ明朝",serif;
	font-size: 15px;
	line-height:1;
	text-align: center;
	float: left;
	margin-left: 67px;
	margin-top: 13px;
	color: #22abba;
}
h5 span {
	font-size: 10px;
	color: #22abba;
}
.button {
	background-color: #22abba;
	width: 120px;
	height: 35px;
	margin-left: 829px;
  position: absolute;
	margin-top:9px;
}
.button a {
	font-family: "ヒラギノ明朝",serif;
	margin-left: 33px;
	margin-top: 6px;
	color: white;
	text-decoration: none;
	position: absolute;
}
.info {
	font-family: "ヒラギノ明朝",serif;
	font-size: 15px;
	color: #7d7d7d;
	margin-left: 40px;
	margin-top: 16px;
	margin-right: 53px;
	float: left;
}
#seeall {
	font-family: "ヒラギノ明朝",serif;
	font-size:10px;
	color:#22abba;
	margin-left:865px;
/* 	float: right; */
	position: relative;
	text-decoration: none;
	background:url(../img/arrow_right.png) left center no-repeat;
	padding-left:15px;
	margin-top:0px;
}
.title {
	width:890px;
	margin: 0 auto;
}
h3 {
	font-family: "ヒラギノ明朝",serif;
	font-size: 18px;
	color: #7d7d7d;
	margin-top: 36px;
	padding: 11px;
	text-align: center;
	border-top: solid 1px #e1e1e1;
	border-bottom: solid  1px #e1e1e1;
}
h3 span {
	font-family: "ヒラギノ明朝",serif;
	font-size: 12px;
}
#specialplan ul{
	width:890px;
	height:320px;
	margin: 20px auto 0;
	padding:0;
}
.speacialplan_pic {
/* 	float:left; */
	margin-right:30px;
}
#specialplan li{
	float:left;
	margin-left:39px;
/* 	margin-left:32px; */
	box-shadow: 1px 1px 1px #CCC;
}
#specialplan li:first-child{
	float:left;
	margin-left:0px;
/* 	margin-left:32px; */
	box-shadow: 1px 1px 1px #CCC;
}
#breakfast {
	height:450px;
	width:100%;
	background-color: #f7f0e8;
	margin-top:40px auto 0;
}
.bfpic {
	margin:0;
	width:440px;
	margin-top:54px;
  margin-left:75px;
	float:left;
	position:relative;
}
#bftext {
	font-family: "ヒラギノ明朝",serif;
	font-size: 16px;
	color: #898989;
	margin-left:500px;
}
.frame_top {
	padding-top: 54px;
	padding-left: 40px;
}
.frame_bottom {
	padding-top: 40px;
	padding-left: 40px;
}
h2 {
	font-family: "ヒラギノ明朝",serif;
	font-size:25px;
	color: #898989;
	margin:0;
	padding-top:20px;
}
#p1{
	font-family: "ヒラギノ角ゴ";
	font-size: 16px;
	color: #898989;
  display: block;
	margin-top:20px;
	margin-bottom:0;
	padding-left:100px;
}
#p2{
	font-family: "ヒラギノ角ゴ";
	font-size: 16px;
	color: #898989;
  display: block;
	margin-top:20px;
	margin-bottom:0;
	padding-left:70px;
	line-height:0;
}
#menu_button {
	border: 1px solid;
	border-radius:5px;
	width:200px;
  height:48px;
	color:#898989;
	margin-top:20px;
	margin-left: 115px;
}
#arrow_gray {
	float: left;
	padding-left:40px;
	padding-top:21px;
}
#menu {
	margin:0px;
	position: relative;
	padding-top:13px;
	margin-left:54px;
	color:#898989;
}

#news{
	font-family: "ヒラギノ明朝",helvetica;
	font-size:13px;
	color:#7d7d7d
	width:100%;
	heigh:383px;
	float:left;
}

.info_left {
	width:580px;
	float:left;
	margin: 0 auto;
}

h4 {
/* 	width:100%; */
	font-family: "ヒラギノ明朝",serif;
	font-size:18px;
	color: #7d7d7d;
	margin-top:52px;
  padding:11px 0 11px;
	border-top:solid 1px #e1e1e1;
	border-bottom:solid  1px #e1e1e1;
}
h4 span {
	font-family: "ヒラギノ明朝",serif;
	font-size:12px;
}
#details ul{
	width:580px;
	color:#7d7d7d;
	line-height:3;
	margin-top:60px;
}
#details li img{
	padding-left:18px;
	padding-right:18px;
	padding-bottom:-100px;
}
#details li{
	border-bottom:dotted 1px #e1e1e1;
}

#seeall2 {
	font-family: "ヒラギノ明朝",serif;
	font-size:10px;
	color:#22abba;
  float:right;
	position: relative;
	text-decoration: none;
	background:url(../img/arrow_right.png) left center no-repeat;
	padding-left:15px;
	margin-top:-5px;
 */	width:90px;
}
.ad {
	width:270px;
	height:300px;
/* 	margin-left:680px;
margin-top:-426px; */
}
/* #ad img{
	margin-bottom: 26px;
} */
#seeall3 {
	font-family: "ヒラギノ明朝",serif;
	font-size:10px;
	color:#22abba;
	margin-left:875px;
/*   float:left; */
	position: relative;
/* 	text-decoration: none; */
	background:url(../img/arrow_top.png) left center no-repeat;
	padding-left:15px;
	margin-top:25px;
	width:90px;
}
footer {
	width:100%;
	height:400px;
	margin-top:0px;
	float:left;
	background-color:#eeeeee;
	color:#7d7d7d;
}
footer li {
	font-family: "ヒラギノ角ゴ";
	font-size: 11px;
	color:#7d7d7d;
	text-decoration: none;
	line-height:2;
}
.footernav{
	width:1024px;
/* 	height:100px;
 */}
.b_nav {
	margin-top:20px;
	margin-left: 30px;
	width:160px;
	height:230px;
	float:left;
}
.b_nav_last {
	margin-top:20px;
	margin-left: 30px;
	width:160px;
}
.b_nav a:visited {
	color:#7d7d7d;
}
.b_nav li:first-child {
	font-size: 13px;
	color:#7d7d7d;
}
.arrow {
	background:url(../img/arrow_gray.png) left center no-repeat;
	padding-left:13px;
}
#footer_nav {
	width:100%;
	margin-top:60px;
	text-align:center;
	font-family:"ヒラギノ明朝",serif;
	font-size:12px;
	text-align:center;
}
#logo_btm{
	width:300px;
	margin:40px auto 10px;
}
#footer_info {
  width:400px;
	margin:0px auto 10px;
}
li {
	list-style-type:none;
}
p {
	font-family:"ヒラギノ明朝",serif;
}
